body{
    background-color:darkcyan;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
#navbar{
    height:40px;
    display:flex;
    justify-content: flex-end;
}
#list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width:45%;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    font-size:20px;
}
a:hover{
    color:white;
}
#two{
    width:500px;
    height:200px;
    margin-top:200px;
    margin-left:100px;
    
}
#introduction{
    width:500px;
    height:300px;
    margin-top:180px;

}
.img1,.img2{
    width:80px;
    height:80px;
    border-radius:50%;
    margin:10px;
}
.img1:hover{
    width:100px;
    height:100px;
    border-radius:50%
}
.img2:hover{
    width:100px;
    height:100px;
    border-radius:50%
}
.lets{
    margin-top:180px;
}
